<template name="register">
  <form class="sm-col-12 accounts accounts--register">
    <label for="registerEmail" class="black">Username</label>
    <input type="email" name="registerEmail" placeholder="username@example.com" class="block col-12 mb1 field">
    <label for="registerPassword" class="black">Password</label>
    <input type="password" name="registerPassword" class="block col-12 mb1 field"><br>
    <button class="btn btn-primary">Register</button>
    <p class="error-message"></p>
  </form>
</template>